@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* @font-face {
    font-family: "Libre Baskerville";
    src: local("Libre Baskerville"),
     url(~assets/Oxygen/Oxygen-Regular.ttf) format("truetype");
} */

html {
    font-family: 'Libre Baskerville', serif !important;
}